@tailwind base;
@tailwind components;
@tailwind utilities;

.loginSignup {
  width: 160px;
  height: 40px;
  border: 1px solid #FFFFFF;
}

.socialIcon {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1.36364px solid #FFFFFF;
}


.headerImage {
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content {
  font-family: 'Bebas Neue';
  font-style: normal;

}

.header-text {
  font-family: 'Open Sans';
  font-style: normal;
  color: rgba(255, 255, 255, 0.8);
}

.rectangle-button {
  width: 212px;
  height: 48px;
  background: #D2232A;
}

.servingCustomer {

  font-family: 'Bebas Neue';
  font-style: normal;
}

.serving {
  font-family: 'Open Sans';
  font-style: normal;
  color: rgba(23, 23, 23, 0.8);
}

.servingCard {
  /* width: 246.4px;
  height: 250px; */
  background: #FFFFFF;
  box-shadow: 0px -24px 50px rgba(0, 0, 0, 0.05), 0px 15px 24px rgba(0, 0, 0, 0.05);
}

.cardTitle {

  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #171717;
}


.chooseContent {

  font-family: 'Open Sans';
  font-style: normal;
  color: rgba(23, 23, 23, 0.8);
}

/* .chooseBox1 {
  width: 202.67px;
  height: 184px;
  left: 730px;
  top: 1649px;
  background: #D2232A;
} */

.chooseBox2 {
  width: 202.67px;
  height: 184px;
  left: 949px;
  top: 1649px;
  background: #171717;
}

.loginInput {
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}
.forgetColor{
  color: rgba(0, 0, 0, 0.5);

}
.userProfile{
  font-family: 'Rajdhani';
}
.tableBorder{
  border: 0.6px solid rgba(0, 0, 0, 0.5);
}